---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -4
NamespaceIndentation: None
PointerAlignment: Left
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Attach
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
FixNamespaceComments: true
